<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css"><!-- Link your custom CSS file -->
    <title>About</title>
</head>
<body>
    <%- include ('partials/header') %>
    <main>
        <section class="content-container">
            <h1>About Me</h1>
            <div class="content">
                <p>Welcome to my about page. Here's some information about me:</p>
                <p>I am a passionate web developer from Centennial College, with a love for creating beautiful and functional websites. With years of experience in both front-end and back-end development, I'm dedicated to delivering high-quality web solutions that meet my clients' needs.</p>
                <p>When I'm not coding, you can find me exploring new technologies, working on personal projects, and enjoying the great outdoors.</p>
            </div>
        </section>
    </main>
    <%- include ('partials/footer') %>
</body>
</html>
