<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href="/css/style.css"> <!-- Link your custom CSS file -->
    <title>Home</title>
</head>
<body>
    <%- include ('partials/header') %>
    <main>
        <section class="cta-section">
            <img src="/img/menaceKayden.jpg" alt="Your Image" class="circular-image">
            <h1>Welcome to My Portfolio</h1>
            <p>I'm <i><b>Haasith Srinivasa</b></i> a passionate web developer creating beautiful and functional websites.</p>
            <a href="/about" class="cta-button">Learn More</a>
        </section>
    </main>
    
    <%- include ('partials/footer') %>
</body>
</html>
